.blogs {
  padding: 24px 120px;
  height: 100%;
  background: $white;

  @include mobile {
    padding: 16px 17px;
  }
  @include tablet {
    padding: 16px 20px;
  }
  @include desktop {
    padding: 24px 120px;
  }

  .title {
    font-family: $primary-font;
    text-transform: uppercase;
    text-align: center;

    @include mobile {
      margin-top: 0px;
      margin-bottom: 16px;
      font-size: 2.4rem;
      line-height: 24px;
      text-transform: uppercase;
    }
    @include tablet {
      margin-top: 20px;
      margin-bottom: 24px;
      font-size: 4.8rem;
      font-weight: 800;
      line-height: 61px;
      letter-spacing: 0em;
    }
  }
}
