@import "./global.module.scss";

.case-studies {
  padding: 24px 120px;
  height: 100%;
  background: $white;

  @include mobile {
    padding: 16px 17px;
    .filter {
      display: none !important;
    }
    .button-filter {
      display: inline-flex;
      height: 32px;
      padding: 0px 12px;
      align-items: center;
      gap: 12px;
      flex-shrink: 0;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.1);
      border: none;
      margin-bottom: 12px;
      p {
        margin: 0;
      }
    }
  }
  @include tablet {
    padding: 16px 20px;
    .filter {
      display: flex !important;
    }
    .button-filter {
      display: none !important;
    }
  }
  @include desktop {
    padding: 24px 120px;
  }

  .title {
    font-family: $primary-font;
    text-transform: uppercase;
    text-align: center;

    @include mobile {
      margin-top: 0px;
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 24px;
      text-transform: uppercase;
    }
    @include tablet {
      margin-top: 20px;
      margin-bottom: 24px;
      font-size: 48px;
      font-weight: 800;
      line-height: 61px;
      letter-spacing: 0em;
    }
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 11px;
    margin-bottom: 20px;
  }
}
