@import "./global.module.scss";

.filter {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: $white;
  height: 100vh;
  .select {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    :global(div.ant-select) {
      width: 100%;
      background: $gray1;
      border-radius: 18px;
    }
    :global(div.ant-select .ant-select-selector) {
      width: 100%;
      background: $gray1;
      border: none;
    }
    :global(div.ant-select .ant-select-selector:hover) {
      border-color: $secondary-color !important;
      box-shadow: none !important;
    }
    :global(div.ant-select-focused .ant-select-selector) {
      width: 100%;

      border-color: $secondary-color !important;
      box-shadow: none !important;
    }
    :global(span.ant-select-selection-item) {
      text-align: left;
    }
  }
}
