@import './global.module.scss';

.custom-header {
  background: url('/home_background.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  height: fit-content;

  .custom-header-bar {
    display: flex;
    align-items: center;
    padding: 40px 120px !important;
    height: 130px;
    font-size: 16px;
    width: 100%;

    .custom-header-container {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .text-header {
        line-height: 50px;
        color: $white;
        margin: 0 20px;
      }

      .font-700 {
        font-weight: 700;
        font-size: 18px;
      }

      // .start-building-button {
      //   color: $black;
      //   font-weight: 800;
      //   font-size: 16px;
      //   line-height: 17px;
      //   height: 52px;
      //   border-radius: 2px;
      //   padding: 0 20px;
      //   background-color: $secondary-color;
      //   justify-content: center
      // }
    }
  }

  .custom-header-content {
    text-align: center;
    color: $white;
    // background-color: $primary-color;
    padding-top: 40px;
    margin-bottom: 40px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;

    .homepage-big-text {
      font-weight: 700;
      font-size: 64px;
      line-height: 81px;
      margin: 0;

      span {
        color: $secondary-color;
      }
    }

    .homepage-small-text {
      margin-bottom: 0;
      line-height: 32px;
      font-size: 17px;
    }

    .homepage-small-text+p {
      margin-top: 0;
      margin-bottom: 48px;
      font-size: 17px;
    }

    .button-group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
    }
  }

  .chatbot-box {
    display: flex;
    justify-content: center;
  }

  .homepage-button-1 {
    font-weight: 800;
    font-size: 16px;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $secondary-color;
  }

  .homepage-button-2 {
    color: $white !important;
    border-color: $white !important;
    font-size: 16px;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $primary-color;
    margin-left: 25px;
  }
}