@import './global.module.scss';

.homepage {

  .text-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
  }

  .clients-image {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .col-style {
    padding: 0 25px;

    .text-col-header {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 0;
    }

    .text-col-content {
      margin-bottom: 0;
      font-size: 16px;
    }

  }

  .box-2 {
    margin-left: 120px;
    margin-right: 120px;
  }

  .box-3 {
    margin-top: 103px;
    margin-bottom: 64px;

    .title {
      justify-content: flex-start;
      font-weight: 700;
      font-size: 48px;
      line-height: 50px;
      margin: 0
    }

    .col-box-right {
      padding-left: 80px;
    }

    .col-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
      margin-bottom: 64px;

      .title {
        margin-bottom: 20px;
      }

      .contents {
        display: flex;
        margin-bottom: 20px;

        p {
          margin: 0;
          font-size: 16px;
          line-height: 24px;
        }

        img {
          margin-right: 12px;
          height: 24px;
        }
      }

      .custom-button {
        width: fit-content;
      }
    }
  }

  .box-5 {
    position: relative;
    margin-bottom: 100px;

    img {
      width: 100%;
    }

    div {
      position: absolute;
      left: 70%;
      bottom: -10%;
      border-radius: 7px;
      color: $white;
      background-color: $primary-color;
      text-align: start;
      padding: 30px;

      .header {
        margin-top: 0;
        font-weight: 700;
      }

      .content {
        margin: 0;
      }
    }
  }

  .box-6 {
    background-color: $primary-color;

    .custom-row {
      text-align: start;
      margin-bottom: 100px;
      margin-left: 120px;
      margin-right: 120px;
      padding-top: 120px;
      padding-bottom: 120px;

      .title {
        color: $white;
        justify-content: flex-start;
        font-weight: 700;
        font-size: 40px;
        line-height: 62px;
        max-width: 80%;
      }

      .custom-label {
        color: $white;
        font-weight: 500;
        font-size: 18px;
      }

      .custom-button {
        margin-top: 24px;
        width: 100%;
      }
    }
  }

  .box-7 {
    margin-right: 308px;
    margin-left: 308px;

    .title-1 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .title-2 {
      margin: 0;
    }

    .content {
      font-weight: 500;
      font-size: 18px;
    }

    .mt-2 {
      margin-top: 50px;
    }
  }

  .homepage-button-1 {
    font-weight: 800;
    font-size: 16px;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $secondary-color;
  }

  .homepage-button-2 {
    color: $white !important;
    border-color: $white !important;
    font-size: 16px;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $primary-color;
    margin-left: 25px;
  }

  .arrow-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .arrow-icon {
    margin-left: 10px;
  }

  .text-start {
    text-align: start;
  }

  .text-end {
    text-align: end;
  }

  .app-image {
    width: calc(100% - 72px);
  }

  .text-title-app {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .text-app {
    margin: 0;
  }

  .text-app-last {
    margin-bottom: 64px;
  }
}