.homepage {
  background-color: $white;

  .case-studies-row {
    @include mobile {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .case-studies {
    margin-top: 80px;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;

      h3 {
        font-size: 1.6rem;
        line-height: 30px;
      }
    }

    @include tablet {
      margin-bottom: 40px;
    }

    h3 {
      margin: 0;
      color: #191a15;
      text-align: center;
      font-family: $primary-font;
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;

      // @include mobile {
      //   font-size: 1.6rem;
      //   line-height: 24px;
      //   font-weight: 900;
      // }

      @include tablet {
        font-size: 4.8rem;
        line-height: normal;
      }
    }

    a {
      display: block;
      margin: 0;
      margin-top: 4px;
      color: #888 !important;
      font-family: $primary-font;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: underline !important;

      @include mobile {
        font-size: 1.4rem;
        line-height: 24px;
      }

      @include tablet {
        font-size: 1.6rem;
        line-height: normal;
      }
    }
  }

  .view-all-case-studies,
  .talk-with-expert {
    margin-top: 12px;
    height: 48px;
    padding: 0px 16px;
    border-radius: 2px;
    background: #5ffe9f;
    span {
      color: #000;
      font-family: Be Vietnam Pro;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .talk-with-expert {
    margin-top: 40px;
  }

  .case-study-container {
    max-width: 1300px;
    margin: auto;
    @include mobile {
      display: unset;
    }

    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  .rockship-company {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    .mobile-img {
      img {
        max-width: 100%;
      }
    }

    .col-left {
      padding-right: 3%;
      padding-left: 5%;
      .rockship-company-title {
        color: #00218f;
        font-family: $primary-font;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
      }
      .rockship-company-content {
        color: var(--Text, #1b1c17);
        font-family: $primary-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .row-small {
        .col-small {
          margin-top: 36px;
          p {
            margin: 0;
          }
          .amount {
            color: #000;
            font-family: Be Vietnam Pro;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: capitalize;
          }
          .name {
            color: var(--mute, #9c9c9c);
            font-family: Be Vietnam Pro;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
          }
        }
      }
    }

    .col-right {
      padding: 40px 0 40px 40px;
      display: flex;
      align-items: center;
      img {
        @include mobile {
          display: none;
        }
        @include tablet {
          display: unset;
          width: 100%;
        }
        @include desktop {
          display: unset;
          width: 536px;
          height: 496px;
        }
      }
    }
  }

  .our-services-background {
    // background: url("/our-services.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;

    .our-services {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      @include mobile {
        padding: 16px 0;
      }
      @include tablet {
        padding-top: 48px;
        padding-bottom: 110px;
      }

      .title {
        color: #1b1c17;
        text-align: center;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
        font-family: Be Vietnam Pro;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        @include mobile {
          margin-top: 0;
        }
        @include tablet {
          margin-top: normal;
        }
      }
      .col-our-services-left {
        @include mobile {
          padding: 20px;
        }
        @include tablet {
          padding: 0 22px 0 0;
        }
      }
      .col-our-services-right {
        @include mobile {
          padding: 20px;
        }
        @include tablet {
          padding: 0 0 0 22px;
        }
      }

      .col-our-services-left,
      .col-our-services-right {
        .background {
          text-align: left;
          padding: 20px;
          border-radius: 4px;
          border: 2px solid #fff;
          background: rgba(203, 203, 203, 0.6);
          backdrop-filter: blur(7.5px);
          .col-title {
            color: #133aa5;
            font-family: Be Vietnam Pro;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
          }
          .content {
            color: var(--Text, #1b1c17);
            font-family: Be Vietnam Pro;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include mobile {
              height: 90px;
            }
            @include tablet {
              height: 90px;
            }
            @include desktop {
              height: 60px;
            }
          }
          .explore-btn {
            display: flex;
            padding: 12px 16px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border-radius: 4px;
            background: #5ffe9f;
            color: var(--Text, #1b1c17);
            font-family: Be Vietnam Pro;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            height: 49px;
          }
        }
      }
    }
  }

  .our-tech {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    .tech-title {
      color: var(--Text, #1b1c17);
      font-family: Be Vietnam Pro;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-top: 80px;
    }
    .tech-row {
      @include mobile {
        display: unset;
      }
      @include desktop {
        display: flex;
        justify-content: center;
      }
      .mobile-hr {
        @include mobile {
          margin: 21px 40px;
        }
        @include desktop {
          margin: unset;
        }
      }
      .tech-col-be,
      .tech-col-fe,
      .tech-col-mobile,
      .tech-col-db,
      .tech-col-devops,
      .tech-col-ux {
        @include mobile {
          display: flex;
        }

        @include desktop {
          display: unset;
          width: 143px;
          margin: 0 40px;
        }

        p {
          color: #00218f;
          font-family: $primary-font;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 180%;

          @include mobile {
            writing-mode: vertical-rl;
            transform: rotate(180deg);
          }
          @include desktop {
            transform: unset;
            writing-mode: unset;
          }
        }

        .logo-group {
          @include mobile {
            display: flex;
            align-items: center;
            overflow: auto;
          }
          @include desktop {
            display: unset;
          }
        }
      }

      @include mobile {
        .tech-col-be {
          img {
            margin-right: 12px;
          }
        }
        .tech-col-fe {
          img {
            margin-right: 36px;
          }
        }
        .tech-col-mobile {
          img {
            margin-right: 18px;
          }
        }
        .tech-col-db {
          img {
            margin-right: 21px;
          }
        }
        .tech-col-devops {
          img {
            margin-right: 27px;
          }
        }
        .tech-col-ux {
          img {
            margin-right: 16px;
          }
        }
      }

      @include desktop {
        .tech-col-be {
          img {
            margin-right: unset;
            margin-bottom: 12px;
          }
        }
        .tech-col-fe {
          img {
            margin-right: unset;
            margin-bottom: 36px;
          }
        }

        .tech-col-mobile {
          img {
            margin-right: unset;
            margin-bottom: 18px;
          }
        }

        .tech-col-db {
          img {
            margin-right: unset;
            margin-bottom: 21px;
          }
        }

        .tech-col-devops {
          img {
            margin-right: unset;
            margin-bottom: 27px;
          }
        }

        .tech-col-ux {
          img {
            margin-right: unset;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .trust-us {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    .trust-us-title {
      color: var(--Text, #1b1c17);
      font-family: Be Vietnam Pro;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-top: 80px;
    }
    .col-trust-us {
      text-align: start;
      .col-trust-us-bg {
        margin: 12px;
        padding: 12px;
        border-radius: 12px;
        background: #f8f9ff;
        .col-trust-us-title {
          color: var(--Text, #1b1c17);
          font-family: Be Vietnam Pro;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 0;
        }
        .col-trust-us-content {
          color: var(--caption, #6d6d6d);
          font-family: Be Vietnam Pro;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          height: 100px;
        }
      }
    }
  }

  .serve {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    .serve-title {
      color: var(--Text, #1b1c17);
      font-family: Be Vietnam Pro;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-top: 80px;
    }

    .mobile-serve {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      .serve-box {
        width: 180px;
        p {
          color: #000;
          font-family: Be Vietnam Pro;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
        }
      }
      @include desktop {
        display: none;
      }
    }

    .desktop-serve {
      @include mobile {
        display: none;
      }
      @include desktop {
        display: flex;
      }
      justify-content: space-between;
      margin-bottom: 32px;
      .serve-box {
        width: 180px;
        p {
          color: #000;
          font-family: Be Vietnam Pro;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
        }
      }
    }
  }

  .clients-2 {
    .clients-2-title {
      color: var(--Text, #1b1c17);
      font-family: Be Vietnam Pro;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      margin-top: 80px;
      margin-bottom: 24px;
    }
    .bar-container {
      width: 100%;
      overflow: hidden;
      .animation-bar {
        display: flex;
        overflow: hidden;
        animation: moveRightToLeft 100s linear infinite;
        @include mobile {
          width: 300%;
        }
        @include desktop {
          width: fit-content;
        }
        align-items: center;
        .image-1 {
          height: 88px;
        }
        .image-7 {
          height: 55px;
        }
        img {
          // position: absolute;
          margin: 40px;
        }
      }
    }
  }
  @keyframes moveRightToLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .text-title {
    font-family: $primary-font;
    font-weight: 900;
    font-size: 4rem;
    line-height: 60.72px;
    color: #0f0f0f;
    @include mobile {
      font-size: 1.6rem;
      line-height: 24px;
      margin-bottom: 24px;
    }
    @include tablet {
      font-size: 3.6rem;
      line-height: 30px;
      margin-bottom: 24px;
    }
    @include desktop {
      font-size: 4rem;
      line-height: 50px;
      margin-bottom: 48px;
    }
  }

  .clients-image {
    margin-top: 48px;
    margin-bottom: 50px;
  }

  .col-style {
    padding: 0 25px;
    margin-top: 50px;

    .text-col-header {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 30px;
      margin-bottom: 8px;
      margin-top: 12px;
      font-family: $primary-font;
      color: #0f0f0f;

      @include mobile {
        font-size: 1.6rem;
        line-height: normal;
      }

      @include tablet {
        font-size: 1.7rem;
        line-height: 30px;
      }
      @include desktop {
        font-size: 1.6rem;
        line-height: 30px;
      }
    }

    .text-col-content {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.4rem;
      font-family: $primary-font;

      @include mobile {
        font-size: 1.4rem;
        line-height: normal;
      }
      @include tablet {
        font-size: 1.4rem;
        line-height: 24px;
      }
      @include desktop {
        font-size: 1.4rem;
        line-height: 24px;
      }
    }
  }

  .box-2 {
    max-width: 1300px;
    @include mobile {
      margin-top: 24px;
      margin-left: 24px;
      margin-right: 24px;
    }

    @include desktop {
      margin-top: 103px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .box-3 {
    margin-top: 103px;
    margin-bottom: 64px;

    .col-image-mobile {
      @include mobile {
        img {
          max-width: 100%;
        }
      }

      @include desktop {
        img {
          max-width: unset;
        }
      }
    }

    @include mobile {
      margin-top: 48px;
      margin-bottom: 24px;
    }

    @include tablet {
      margin-top: 103px;
      margin-bottom: 64px;
    }

    .left-box {
      @include mobile {
        max-width: 100%;
        padding-right: unset;
      }
      @include desktop {
        max-width: 50%;
        padding-left: 1%;
        padding-right: 5%;
      }
    }

    .box {
      max-width: 47%;
    }

    .right-box {
      @include mobile {
        max-width: 100%;
      }
      @include desktop {
        max-width: 50%;
      }
    }

    .col-image-container {
      @include desktop {
        max-width: 50%;
        padding-right: 1%;
        padding-left: 5%;
      }
    }

    img.col-image {
      @include mobile {
        margin-bottom: 48px;
      }
      @include desktop {
        width: 100%;
        margin-bottom: 0px;
      }
    }

    .text-title {
      @include mobile {
        margin-bottom: 24px;
        font-size: 1.6rem;
      }
      @include tablet {
        margin-bottom: 36px;
        font-size: 4rem;
      }
      @include desktop {
        margin-bottom: 48px;
        font-size: 4rem;
      }
    }

    .title {
      justify-content: flex-start;
      font-weight: 800;
      font-size: 4rem;
      line-height: 50px;
      margin: 0;
      font-family: $primary-font;
      color: #0f0f0f;

      @include mobile {
        justify-content: center;
        font-size: 2.4rem;
        line-height: 36px;
      }
      @include desktop {
        justify-content: flex-start;
        font-size: 4rem;
        line-height: 50px;
      }
      @include tablet {
        justify-content: flex-start;
        font-size: 3.6rem;
        line-height: 36px;
      }
    }

    .row {
      @include mobile {
        margin-bottom: 0px;
      }
      @include tablet {
        margin-bottom: 32px;
      }
      @include desktop {
        margin-bottom: 64px;
      }
    }

    .col-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mobile {
        margin-left: auto;
        margin-right: auto;
      }
      @include desktop {
        margin-left: unset;
        margin-right: unset;
      }

      .title {
        margin-bottom: 20px;
        font-family: $primary-font;
        font-weight: 800;

        @include mobile {
          font-size: 2.4rem;
          line-height: 36px;
          text-align: center;
          margin-bottom: 24px;
        }
        @include tablet {
          font-size: 3.2rem;
          line-height: 48px;
          text-align: start;
          margin-bottom: 30px;
        }
        @include desktop {
          font-size: 4rem;
          line-height: 64px;
          text-align: start;
          margin-bottom: 64px;
        }
      }

      .contents {
        display: flex;
        font-family: $primary-font;
        margin-bottom: 20px;
        gap: 8px;

        p {
          margin: 0px;
          font-size: 1.4rem;
          line-height: 24px;
          width: 549px;
          height: fit-content;

          @include mobile {
            font-size: 1.4rem;
            line-height: normal;
            text-align: left;
          }

          @include tablet {
            font-size: 1.4rem;
            line-height: 24px;
          }
        }

        img {
          margin-right: 12px;
          height: 28px;
        }
      }
    }
  }

  .box-5 {
    position: relative;
    margin-bottom: 100px;

    img {
      width: 100%;
    }

    div {
      position: absolute;
      left: 70%;
      bottom: -10%;
      border-radius: 7px;
      color: $white;
      background-color: $primary-color;
      text-align: start;
      padding: 30px;

      .header {
        margin-top: 0;
        font-weight: 700;
      }

      .content {
        margin: 0;
      }
    }
  }

  .box-6 {
    background-color: $primary-color;

    @include mobile {
      margin-bottom: 40px;
    }
    @include tablet {
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: 64px;
    }

    .custom-row {
      text-align: start;
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;

      @include mobile {
        padding: 36px 20px;
      }
      @include desktop {
        margin-bottom: 100px;
        padding: 120px 0px 120px 0px;
      }

      .title {
        color: $white;
        justify-content: flex-start;
        font-weight: 700;
        font-family: $primary-font;

        @include mobile {
          font-size: 2.3rem;
          line-height: 36px;
          max-width: 100%;
          text-align: center;
          margin: 0;
        }
        @include tablet {
          font-size: 3.8rem;
          line-height: 55px;
          max-width: 80%;
          text-align: left;
          margin: 24px;
        }
        @include desktop {
          font-size: 4rem;
          line-height: 62px;
          max-width: 80%;
          text-align: left;
          margin: 24px;
        }
      }

      .custom-label {
        color: $white;
        font-weight: 500;
        font-size: 1.8rem;
        font-family: $primary-font;
      }
      .custom-col {
        @include mobile {
          margin-left: 0px;
        }
        @include tablet {
          margin-left: -60px;
        }
        @include desktop {
          margin-left: -10px;
        }
        .custom-input {
          height: 50px;
          border-radius: 4px;
          font-family: $primary-font;

          @include mobile {
            width: 100%;
          }
        }

        textarea {
          height: 80px;
          border-radius: 4px;
          resize: none;
          font-family: $primary-font;
          outline: none;
          padding: 8px 11px;

          @include mobile {
            width: 100%;
          }
        }

        textarea::placeholder {
          font-family: $primary-font;
          font-weight: 400;
          opacity: 0.5;
        }

        .custom-button-1 {
          font-family: $primary-font;

          @include mobile {
            width: 100%;
            margin-top: 24px;
          }
          @include desktop {
            margin-top: 0px;
          }
        }
      }
    }
  }

  .box-7 {
    max-width: 1300px;
    @include mobile {
      margin: 0 24px;
    }
    @include desktop {
      margin-left: auto;
      margin-right: auto;
    }

    .header-testimony {
      text-align: left;
      .title-1 {
        margin-top: 0;
        margin-bottom: 24px;
        color: var(--text-gray-900, #18191f);
        font-feature-settings: "salt" on, "liga" off;
        font-family: Be Vietnam Pro;
        font-style: normal;
        font-weight: 900;
        line-height: 64px; /* 133.333% */
        text-align: center;

        @include mobile {
          margin: 24px 0;
          font-size: 3.2rem;
          line-height: 36px;
        }
        @include tablet {
          font-size: 4.8rem;
          line-height: 50px;
        }
        @include desktop {
          font-size: 4.8rem;
          line-height: 64px;
        }
      }

      .title-2 {
        margin: 0;
        font-style: normal;
        font-weight: 800;
        font-family: $primary-font;

        @include mobile {
          margin: 0 24px;
          font-size: 3.2rem;
          line-height: 36px;
        }
        @include tablet {
          font-size: 4rem;
          line-height: 50px;
          margin: 0;
        }
        @include desktop {
          font-size: 4rem;
          line-height: 64px;
          margin: 0;
        }
      }

      .content {
        font-weight: 500;
        font-size: 1.8rem;
        font-family: $primary-font;

        @include mobile {
          margin: 18px 24px;
        }
        @include tablet {
          margin: 18px 0;
        }
        @include desktop {
          margin: 18px 0;
        }
      }
    }

    .mt-2 {
      margin-top: 50px;

      @include mobile {
        margin-top: 0px;
      }
      @include tablet {
        margin-top: 0px;
      }
      @include desktop {
        margin-top: 50px;
      }
    }
  }

  .homepage-button-1 {
    font-weight: 800;
    font-size: 1.4rem;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 16px;
    background-color: $secondary-color;
    border: none;
  }

  .custom-button {
    margin-top: 12px;
    width: 308px;
    height: 56px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-family: $primary-font;

    @include mobile {
      width: 100%;
      margin-bottom: 48px;
    }

    @include tablet {
      width: 308px;
      margin-bottom: 0px;
    }
  }

  .homepage-button-2 {
    color: $white !important;
    border-color: $white !important;
    font-size: 1.4rem;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $primary-color;
    margin-left: 25px;
  }

  .arrow-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .arrow-icon {
    margin-left: 22px;
  }

  .box-7-col {
    @include mobile {
      display: unset;
    }

    @include desktop {
      display: flex;
      justify-content: center;
    }

    .rovo-testimony {
      height: fit-content;
      border-radius: 8px;
      gap: 32px;
      box-shadow: 0px 10px 20px 0px #29292a12;

      @include mobile {
        width: 100%;
        margin-top: 0px;
        img {
          margin-left: 48px;
        }
      }
      @include tablet {
        width: 344px;
        margin-top: -66px;
        margin-left: 20px;
        img {
          margin-left: 63.5px;
        }
      }

      @include desktop {
        width: 445px;
        margin-top: -132px;
        margin-left: 80px;
        img {
          margin-left: 63.5px;
        }
      }
      @include big-tablet {
        width: 445px;
        margin-top: -132px;
        margin-left: 50px;
        img {
          margin-left: 63.5px;
        }
      }
      @include big-desktop {
        width: 445px;
        margin-top: -132px;
        margin-left: 20px;
        img {
          margin-left: 63.5px;
        }
      }
    }
  }

  .box-7-content {
    height: fit-content;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 12px;
    text-align: start;
    @include mobile {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    @include tablet {
      width: 335px;
    }
    @include desktop {
      margin-bottom: unset;
      margin-left: 16px;
      margin-right: 16px;

      width: 355px;
      height: 452px;
    }
    .client-icon {
      height: 100px;
    }

    .meta-testimony {
      height: fit-content;

      @include mobile {
        width: 100%;
      }

      @include desktop {
        padding: 0 0;
        width: 100%;
      }

      .quote-icon {
        width: 16px;
        height: 14px;
        padding: 0px 0.08px 0px 0px;
        opacity: 0.3;

        @include mobile {
          margin-left: 0px;
        }

        @include tablet {
          margin-top: 15px;
          margin-left: 0px;
        }
      }

      .client-test {
        font-family: $primary-font;

        font-weight: 400;
        font-size: 1.4rem;
        line-height: 28px;
        .text {
          height: 168px;
          margin-bottom: 16px;
        }

        .text-link {
          u {
            color: #4281ee;
            cursor: pointer;
          }
        }
      }

      .client {
        display: flex;
        img {
          margin-right: 12px;
        }

        @include mobile {
          width: 100%;
          margin-top: 24px;
        }

        @include tablet {
          width: fit-content;
          height: fit-content;
          margin-top: 24px;
        }

        font-family: $primary-font;

        .client-name {
          color: #18191f;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 28px;
          margin: 0;
        }

        .client-position {
          color: #969bab;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 24px;
          margin: 0;
        }
      }
    }
  }

  .app-image {
    width: calc(100% - 72px);
  }

  .text-title-app {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .text-app {
    margin: 0;
  }

  .text-app-last {
    margin-bottom: 64px;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}

.client-button-group {
  max-width: 1300px;
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;

  .button-client {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 4px;
    margin: 4px;
    height: 40px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .disabled {
    img {
      filter: invert(70%) sepia(1%) saturate(0%) hue-rotate(240deg)
        brightness(90%) contrast(88%);
    }
  }
}
