.homepage {
  background-color: $white;

  .case-studies-row {
    @include mobile {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .case-studies {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 24px;

      h3 {
        font-size: 2rem;
        line-height: 30px;
      }
    }

    @include tablet {
      margin-bottom: 40px;
    }

    h3 {
      margin: 0;
      color: #191a15;
      text-align: center;
      font-family: $primary-font;
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;

      @include mobile {
        font-size: 2rem;
        line-height: 24px;
        font-weight: 900;
      }

      @include tablet {
        font-size: 4.8rem;
        line-height: normal;
      }
    }

    a {
      display: block;
      margin: 0;
      margin-top: 4px;
      color: #888 !important;
      font-family: $primary-font;
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: underline !important;

      @include mobile {
        font-size: 1.4rem;
        line-height: 24px;
      }

      @include tablet {
        font-size: 2rem;
        line-height: normal;
      }
    }
  }

  .case-study-container {
    @include mobile {
      display: unset;
    }

    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  .text-title {
    font-family: $primary-font;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 60.72px;
    color: #0f0f0f;
    @include mobile {
      font-size: 2rem;
      line-height: 24px;
      margin-bottom: 24px;
    }
    @include tablet {
      font-size: 3.6rem;
      line-height: 30px;
      margin-bottom: 24px;
    }
    @include desktop {
      font-size: 4.8rem;
      line-height: 50px;
      margin-bottom: 48px;
    }
  }

  .clients-image {
    margin-top: 48px;
    margin-bottom: 50px;
  }

  .col-style {
    padding: 0 25px;
    margin-top: 50px;

    .text-col-header {
      font-weight: 700;
      font-size: 2rem;
      line-height: 30px;
      margin-bottom: 8px;
      margin-top: 12px;
      font-family: $primary-font;
      color: #0f0f0f;

      @include mobile {
        font-size: 2rem;
        line-height: normal;
      }

      @include tablet {
        font-size: 1.7rem;
        line-height: 30px;
      }
      @include desktop {
        font-size: 2rem;
        line-height: 30px;
      }
    }

    .text-col-content {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.6rem;
      font-family: $primary-font;

      @include mobile {
        font-size: 1.4rem;
        line-height: normal;
      }
      @include tablet {
        font-size: 1.4rem;
        line-height: 24px;
      }
      @include desktop {
        font-size: 1.6rem;
        line-height: 24px;
      }
    }
  }

  .box-2 {
    @include mobile {
      margin-top: 24px;
      margin-left: 24px;
      margin-right: 24px;
    }

    @include tablet {
      margin-top: 24px;
      margin-left: 12px;
      margin-right: 12px;
    }
    @include desktop {
      margin-top: 103px;
      margin-left: 120px;
      margin-right: 120px;
    }
  }

  .box-3 {
    margin-top: 103px;
    margin-bottom: 64px;

    @include mobile {
      margin-top: 48px;
      margin-bottom: 24px;
    }

    @include tablet {
      margin-top: 103px;
      margin-bottom: 64px;
    }

    img.col-image {
      @include mobile {
        width: 242.065px;
        height: 224px;
        margin-bottom: 48px;
      }
      @include tablet {
        width: 335.99px;
        height: auto;
        margin-bottom: 0px;
      }
      @include desktop {
        // width: 535.99px;
        width: 100%;
        height: auto;
        margin-bottom: 0px;
      }
    }

    .text-title {
      @include mobile {
        margin-bottom: 24px;
        font-size: 2rem;
      }
      @include tablet {
        margin-bottom: 36px;
        font-size: 4.8rem;
      }
      @include desktop {
        margin-bottom: 48px;
        font-size: 4.8rem;
      }
    }

    .title {
      justify-content: flex-start;
      font-weight: 800;
      font-size: 4.8rem;
      line-height: 50px;
      margin: 0;
      font-family: $primary-font;
      color: #0f0f0f;

      @include mobile {
        justify-content: center;
        font-size: 2.4rem;
        line-height: 36px;
      }
      @include desktop {
        justify-content: flex-start;
        font-size: 4.8rem;
        line-height: 50px;
      }
      @include tablet {
        justify-content: flex-start;
        font-size: 3.6rem;
        line-height: 36px;
      }
    }

    .col-box-right {
      @include mobile {
        padding-left: 0px !important;
      }
      @include tablet {
        padding-left: 40px !important;
      }
      @include desktop {
        padding-left: 80px !important;
      }
    }

    .row {
      @include mobile {
        margin-bottom: 0px;
      }
      @include tablet {
        margin-bottom: 32px;
      }
      @include desktop {
        margin-bottom: 64px;
      }
    }

    .col-box {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        margin-bottom: 20px;
        font-family: $primary-font;
        font-weight: 800;

        @include mobile {
          font-size: 2.4rem;
          line-height: 36px;
          text-align: center;
          margin-bottom: 24px;
        }
        @include tablet {
          font-size: 3.2rem;
          line-height: 48px;
          text-align: start;
          margin-bottom: 30px;
        }
        @include desktop {
          font-size: 4.8rem;
          line-height: 64px;
          text-align: start;
          margin-bottom: 64px;
        }
      }

      .contents {
        display: flex;
        font-family: $primary-font;
        margin-bottom: 20px;
        gap: 8px;

        p {
          margin: 0px;
          font-size: 1.6rem;
          line-height: 24px;
          width: 549px;
          height: fit-content;

          @include mobile {
            font-size: 1.4rem;
            line-height: normal;
            text-align: left;
          }

          @include tablet {
            font-size: 1.6rem;
            line-height: 24px;
          }
        }

        img {
          margin-right: 12px;
          height: 28px;
        }
      }
    }
  }

  .box-5 {
    position: relative;
    margin-bottom: 100px;

    img {
      width: 100%;
    }

    div {
      position: absolute;
      left: 70%;
      bottom: -10%;
      border-radius: 7px;
      color: $white;
      background-color: $primary-color;
      text-align: start;
      padding: 30px;

      .header {
        margin-top: 0;
        font-weight: 700;
      }

      .content {
        margin: 0;
      }
    }
  }

  .box-6 {
    background-color: $primary-color;

    @include mobile {
      margin-bottom: 40px;
    }
    @include tablet {
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: 64px;
    }

    .custom-row {
      text-align: start;

      @include mobile {
        padding: 36px 20px;
      }
      @include tablet {
        margin-bottom: 50px;
        margin-left: -12px;
        margin-right: 12px;
        padding: 60px 0px 60px 0px;
      }
      @include desktop {
        margin-bottom: 100px;
        margin-left: 96px;
        margin-right: 120px;
        padding: 120px 0px 120px 0px;
      }

      .title {
        color: $white;
        justify-content: flex-start;
        font-weight: 700;
        font-family: $primary-font;

        @include mobile {
          font-size: 2.3rem;
          line-height: 36px;
          max-width: 100%;
          text-align: center;
          margin: 0;
        }
        @include tablet {
          font-size: 3.8rem;
          line-height: 55px;
          max-width: 80%;
          text-align: left;
          margin: 24px;
        }
        @include desktop {
          font-size: 4rem;
          line-height: 62px;
          max-width: 80%;
          text-align: left;
          margin: 24px;
        }
      }

      .custom-label {
        color: $white;
        font-weight: 500;
        font-size: 1.8rem;
        font-family: $primary-font;
      }
      .custom-col {
        @include mobile {
          margin-left: 0px;
        }
        @include tablet {
          margin-left: -60px;
        }
        @include desktop {
          margin-left: -10px;
        }
        .custom-input {
          height: 50px;
          border-radius: 4px;
          font-family: $primary-font;

          @include mobile {
            width: 100%;
          }
          @include tablet {
            width: 120%;
          }
          @include desktop {
            width: 120%;
          }
        }

        textarea {
          height: 80px;
          border-radius: 4px;
          resize: none;
          font-family: $primary-font;
          outline: none;
          padding: 8px 11px;

          @include mobile {
            width: 100%;
          }
          @include tablet {
            width: 120%;
          }
          @include desktop {
            width: 120%;
          }
        }

        textarea::placeholder {
          font-family: $primary-font;
          font-weight: 400;
          opacity: 0.5;
        }

        .custom-button-1 {
          font-family: $primary-font;

          @include mobile {
            width: 100%;
            margin-top: 24px;
          }
          @include tablet {
            width: 120%;
            margin-top: 24px;
          }
          @include desktop {
            width: 120%;
            top: 24px;
            margin-top: 0px;
          }
        }
      }
    }
  }

  .box-7 {
    @include mobile {
      margin: 0 24px;
    }
    @include tablet {
      margin-right: 12px;
      margin-left: 12px;
    }
    @include desktop {
      margin-right: 200px;
      margin-left: 200px;
    }

    .header-testimony {
      text-align: left;
      .title-1 {
        margin-top: 0;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 800;
        font-family: $primary-font;

        @include mobile {
          margin: 0 24px;
          font-size: 3.2rem;
          line-height: 36px;
        }
        @include tablet {
          font-size: 4rem;
          line-height: 50px;
          margin: 0;
        }
        @include desktop {
          font-size: 4.8rem;
          line-height: 64px;
          margin: 0;
        }
      }

      .title-2 {
        margin: 0;
        font-style: normal;
        font-weight: 800;
        font-family: $primary-font;

        @include mobile {
          margin: 0 24px;
          font-size: 3.2rem;
          line-height: 36px;
        }
        @include tablet {
          font-size: 4rem;
          line-height: 50px;
          margin: 0;
        }
        @include desktop {
          font-size: 4.8rem;
          line-height: 64px;
          margin: 0;
        }
      }

      .content {
        font-weight: 500;
        font-size: 1.8rem;
        font-family: $primary-font;

        @include mobile {
          margin: 18px 24px;
        }
        @include tablet {
          margin: 18px 0;
        }
        @include desktop {
          margin: 18px 0;
        }
      }
    }

    .mt-2 {
      margin-top: 50px;

      @include mobile {
        margin-top: 0px;
      }
      @include tablet {
        margin-top: 0px;
      }
      @include desktop {
        margin-top: 50px;
      }
    }
  }

  .homepage-button-1 {
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 16px;
    background-color: $secondary-color;
    border: none;
  }

  .custom-button {
    margin-top: 12px;
    width: 308px;
    height: 56px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-family: $primary-font;

    @include mobile {
      width: 100%;
      margin-bottom: 48px;
    }

    @include tablet {
      width: 308px;
      margin-bottom: 0px;
    }
  }

  .homepage-button-2 {
    color: $white !important;
    border-color: $white !important;
    font-size: 1.6rem;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $primary-color;
    margin-left: 25px;
  }

  .arrow-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .arrow-icon {
    margin-left: 22px;
  }

  .text-start {
    text-align: start;
    width: 100%;
    @include mobile {
      margin-bottom: 0px;
    }
    @include tablet {
      margin-bottom: 50px;
    }
    @include desktop {
      margin-bottom: 0px;
    }

    .rovo-testimony {
      height: fit-content;
      border-radius: 8px;
      gap: 32px;
      box-shadow: 0px 10px 20px 0px #29292a12;

      @include mobile {
        width: 100%;
        margin-top: 0px;
        img {
          margin-left: 48px;
        }
      }
      @include tablet {
        width: 344px;
        margin-top: -66px;
        margin-left: 20px;
        img {
          margin-left: 63.5px;
        }
      }

      @include desktop {
        width: 445px;
        margin-top: -132px;
        margin-left: 80px;
        img {
          margin-left: 63.5px;
        }
      }
      @include big-tablet {
        width: 445px;
        margin-top: -132px;
        margin-left: 50px;
        img {
          margin-left: 63.5px;
        }
      }
      @include big-desktop {
        width: 445px;
        margin-top: -132px;
        margin-left: 20px;
        img {
          margin-left: 63.5px;
        }
      }
    }

    .client_icon {
      margin-top: 33px;
      margin-left: 63.5px;
    }

    .client_rovo {
      width: 381px;
      height: fit-content;
      margin-left: 32px;
      margin-right: 32px;
      border-radius: 8px;

      @include mobile {
        padding: 0 24px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
      @include tablet {
        padding: 0 0;
        width: 320px;
        margin-left: 32px;
        margin-right: 32px;
      }
      @include desktop {
        padding: 0 0;
        width: 381px;
        margin-left: 32px;
        margin-right: 32px;
      }

      .quote_icon {
        margin-top: 15px;
        width: 16px;
        height: 14px;
        padding: 0px 0.07px 0px 0px;
        opacity: 0.3;

        @include mobile {
          margin-left: 4px;
        }

        @include tablet {
          margin-top: 15px;
          margin-left: 0px;
        }
      }

      .client_test {
        width: 349px;
        height: fit-content;
        font-family: $primary-font;
        font-size: 1.6rem;
        line-height: 28px;
        margin-left: 32px;
        margin-top: -20px;

        @include mobile {
          width: calc(100% - 32px);
          margin-top: -20px;
          margin-left: 24px;
        }
        @include tablet {
          width: 254px;
          margin-left: 32px;
          margin-top: -20px;
        }
        @include desktop {
          width: 349px;
          margin-left: 32px;
          margin-top: -20px;
        }
      }

      .client_info {
        width: fit-content;
        height: fit-content;
        font-family: $primary-font;
        margin-top: 24px;
        bottom: 92px;

        .client_name {
          color: #18191f;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 28px;
          margin: 0;
        }

        .client_name.active {
          text-decoration: none;
        }

        .client_position {
          color: #969bab;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 24px;
          margin: 0;
        }
      }
    }

    .sybit-testimony {
      width: 344px;
      height: fit-content;
      border-radius: 8px;
      gap: 32px;
      box-shadow: 0px 10px 20px 0px #29292a12;
      margin-top: 35px;

      @include mobile {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 24px;

        img {
          margin-left: 48px;
        }
      }

      @include tablet {
        width: 344px;
        margin-top: 35px;
        margin-left: 20px;
        img {
          margin-left: 63.5px;
        }
      }
      @include desktop {
        width: 344px;
        margin-top: 35px;
        margin-left: 80px;
        img {
          margin-left: 63.5px;
        }
      }
      @include big-tablet {
        width: 344px;
        margin-top: 35px;
        margin-left: 50px;
        img {
          margin-left: 63.5px;
        }
      }
      @include big-desktop {
        width: 344px;
        margin-top: 35px;
        margin-left: 20px;
        img {
          margin-left: 63.5px;
        }
      }
    }

    .client_icon {
      margin-left: 63.5px;
    }

    .client_sybit {
      width: 286px;
      height: fit-content;
      margin-left: 32px;
      margin-right: 32px;
      border-radius: 8px;

      @include mobile {
        padding: 0 24px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }

      @include tablet {
        width: 286px;
        margin-left: 32px;
        margin-right: 32px;
        padding: 0 0;
      }

      .quote_icon {
        margin-top: 15px;
        width: 16px;
        height: 14px;
        padding: 0px 0.07016849517822266px 0px 0px;
        opacity: 0.3;

        @include mobile {
          margin-left: 0px;
        }

        @include tablet {
          margin-top: 15px;
          margin-left: 0px;
        }
      }

      .client_test {
        width: 254px;
        height: fit-content;
        font-family: $primary-font;
        font-size: 1.6rem;
        line-height: 28px;
        margin-left: 32px;
        margin-top: -20px;

        @include mobile {
          width: calc(100% - 32px);
          margin-top: -20px;
          margin-left: 24px;
        }

        @include tablet {
          width: 254px;
          margin-left: 32px;
          margin-top: -20px;
        }
      }

      .client_info {
        width: fit-content;
        height: fit-content;
        font-family: $primary-font;
        margin-top: 56px;

        .client_name {
          color: #18191f;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 28px;
          margin: 0;
        }

        .client_position {
          color: #969bab;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 24px;
          margin: 0;
        }

        .client-bottom {
          margin-top: 26px;
        }
      }
    }
  }

  .text-end {
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px #29292a12;

    @include mobile {
      margin: 0;
      width: 100%;
    }
    @include tablet {
      margin: 0;
      margin-left: 55px;
      width: 335px;
    }
    @include desktop {
      margin: 0;
      margin-left: 45px;
      margin-top: 32px;
      width: 335px;
    }
    @include big-desktop {
      margin: 0;
      margin-left: 95px;
      margin-top: 32px;
      width: 350px;
    }
    .client_icon {
      margin-left: 56.5px;
    }

    .meta-testimony {
      height: fit-content;

      @include mobile {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 24px;

        img {
          margin-left: 48px;
        }
      }
      @include tablet {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0 24px;

        img {
          margin-left: 48px;
        }
      }

      @include desktop {
        padding: 0 0;
        width: 100%;
        margin-left: 32px;
        margin-right: 32px;

        img {
          margin-left: 63.5px;
        }
      }

      .quote_icon {
        width: 16px;
        height: 14px;
        padding: 0px 0.08px 0px 0px;
        opacity: 0.3;

        @include mobile {
          margin-left: 0px;
        }

        @include tablet {
          margin-top: 15px;
          margin-left: 0px;
        }
      }

      .client_test {
        font-family: $primary-font;

        font-weight: 400;
        font-size: 1.6rem;
        line-height: 28px;

        @include mobile {
          width: calc(100% - 32px);
          height: fit-content;
          margin-top: -20px;
          margin-left: 24px;
        }
        @include tablet {
          width: 254px;
          height: fit-content;
          margin-top: -20px;
          margin-left: 24px;
        }
        @include desktop {
          width: fit-content;
          height: fit-content;
          margin-left: 32px;
          margin-right: 100px;
          margin-top: -20px;
        }
      }

      .client {
        @include mobile {
          width: 100%;
          margin-top: 24px;
        }

        @include tablet {
          width: fit-content;
          height: fit-content;
          margin-top: 56px;
        }

        font-family: $primary-font;

        .client_name {
          color: #18191f;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 28px;
          margin: 0;
        }

        .client_position {
          color: #969bab;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 24px;
          margin: 0;
        }

        .client_bottom {
          margin-top: 92px;

          @include mobile {
            margin-top: 0px;
          }

          @include tablet {
            margin-top: 92px;
          }
        }
      }
    }
  }

  .app-image {
    width: calc(100% - 72px);
  }

  .text-title-app {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .text-app {
    margin: 0;
  }

  .text-app-last {
    margin-bottom: 64px;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}
