@import "./global.module.scss";

.search {
  padding: 16px;
  background: $white;
  height: 100vh;

  :global(div.ant-select) {
    width: 100%;
    border-radius: 18px;
    margin-bottom: 16px;
  }

  :global(div.ant-select .ant-select-selector) {
    background: $gray1;
    border: none;
  }

  :global(div.ant-select .ant-select-selector:hover) {
    border-color: $secondary-color !important;
    box-shadow: none !important;
  }

  :global(div.ant-select-focused .ant-select-selector) {
    border-color: $secondary-color !important;
    box-shadow: none !important;
  }

  :global(span.ant-select-selection-item) {
    text-align: left;
  }

  :global(span.ant-input-affix-wrapper) {
    border: none;
    outline: none;
    background: $gray1;
    margin-bottom: 16px;
  }

  :global(span.ant-input-affix-wrapper-focused) {
    box-shadow: none;
  }

  :global(input.ant-input) {
    background: $gray1;
  }
}