.build-your-ai {
  .homepage-button-1 {
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $secondary-color;
    border: none;
    font-family: Be Vietnam Pro;

    .arrow-icon {
      width: 24px;
      margin-left: 22px;
    }
  }

  .box-1 {
    background-color: white;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    .box-1-left {
      .grey-text {
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-weight: 600;
        color: #6d6d6d;
      }

      h3 {
        height: fit-content;
        font-family: Be Vietnam Pro;
        font-weight: 900;
      }

      .sub-text {
        height: fit-content;
        font-family: Be Vietnam Pro;
        font-weight: 400;
        color: #6d6d6d;
      }
    }

    .robot-hands {
      margin-top: 0px;
      width: 100%;
    }
  }

  .box-2 {
    background-color: #deefff;

    .box-2-color {
      width: 100%;

      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      h3 {
        margin-bottom: 16px;
        width: fit-content;
        height: fit-content;
        font-family: Be Vietnam Pro;
        font-size: 24px;
        font-weight: 800;
        line-height: 51px;
        text-align: center;
      }

      .col-style {
        .sub-text {
          width: 83.3%;
          height: fit-content;
          font-family: Be Vietnam Pro;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          color: #6d6d6d;
        }
      }
    }
  }

  .box-3 {
    background-color: white;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    h3 {
      font-family: Be Vietnam Pro;
      font-weight: 800;
      line-height: 51px;
    }

    .box-3-left {
      text-align: left;

      .contents {
        height: fit-content;
        display: flex;
        font-family: Be Vietnam Pro;
        gap: 8px;
        color: #585858;
        margin-bottom: 20px;

        img {
          margin-right: 0px;
          height: 22px;
        }

        p {
          margin: 0px;
          margin-top: -2px;
          font-size: 1.6rem;
          line-height: 24px;
          height: fit-content;
        }
      }
    }
  }

  .box-4 {
    margin-top: 40px;
    background-color: #deefff;

    h3 {
      margin: 0;
      margin-bottom: 12px;
      font-family: Be Vietnam Pro;
      font-weight: 800;
      line-height: 51px;
    }

    p {
      margin: 0;
      font-family: Be Vietnam Pro;
      font-weight: 400;
      line-height: 20px;
      color: #6d6d6d;
      height: fit-content;
    }

    .box-GenAI {
      padding-top: 24px;
      padding-bottom: 24px;
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      width: 90%;
      margin-bottom: 36px;
    }
  }

  .box-AI-Stack {
    margin: 40px auto;
    max-width: 1300px;
  }


  .box-5 {
    background-color: #00218f;
    width: 100%;
    .box-5-row {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .box-6 {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      font-family: Be Vietnam Pro;
      line-height: 10px;
      color: #133aa5;
    }

    p {
      font-family: Be Vietnam Pro;
      font-weight: 500;
      color: #6d6d6d;
    }
  }

  .consultant {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    h3 {
      font-family: Be Vietnam Pro;
      font-weight: 900;
      line-height: 51px;
    }

    .row-consultant {
      margin-bottom: 24px;
      text-align: left;

      img {
        width: 100%;
      }

      .consultant-info {
        .name {
          font-family: Be Vietnam Pro;
          font-weight: 600;
        }

        .position {
          font-family: Be Vietnam Pro;
          font-weight: 400;
        }

        .description {
          font-family: Be Vietnam Pro;
          font-weight: 400;
        }

        .tag-box {
          height: fit-content;

          .tag {
            border-radius: 16px;
            background-color: #dae4ff;
            width: fit-content;
            font-family: Be Vietnam Pro;
            margin-right: 4px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .certifications {
    margin-right: 12px;

    .header {
      background-color: #deefff;
      height: 99px;

      h3 {
        font-family: Be Vietnam Pro;
      }
    }

    .cert {
      .cert-inf {
        .cert-name {
          font-family: Be Vietnam Pro;
          font-weight: 800;
          line-height: 30px;
          text-align: left;
        }

        .org-info {
          font-family: Be Vietnam Pro;
          margin-left: 36px;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #9c9c9c;
          margin-bottom: 0px;
        }

        .cert-issue-time {
          font-family: Be Vietnam Pro;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          text-align: left;
          color: #6d6d6d;
        }
      }
    }
  }

  @include mobile {
    .box-1 {
      margin-top: 20px;

      .box-1-left {
        text-align: center;

        .grey-text {
          margin-left: 0px;
          line-height: 18px;
        }

        h3 {
          margin-bottom: 8px;
          margin-left: 60px;
          width: 250px;
          font-size: 24px;
          line-height: 31px;
        }

        .sub-text {
          margin-top: 0px;
          margin-bottom: 12px;
          margin-left: 40px;
          width: 280px;
          font-size: 16px;
          line-height: 20px;
        }

        .homepage-button-1 {
          margin-left: 0px;
          width: fit-content;

          img {
            margin-left: 12px;
          }
        }
      }
    }

    .box-2 {
      .box-2-color {
        h3 {
          margin-top: 16px;
          margin-left: 24px;
          width: fit-content;
          height: fit-content;
          font-family: Be Vietnam Pro;
          font-size: 24px;
          text-align: center;
        }

        .col-style {
          margin-left: 12px;

          .sub-text {
            margin-top: -12px;
            width: 343px;
            text-align: center;
          }
        }
      }

      img {
        width: 88%;
        margin-top: 14px;
        margin-bottom: 20px;
      }
    }

    .box-3 {
      h3 {
        font-size: 24px;
        margin-left: 12px;
        line-height: 30px;
        text-align: center;
      }

      .box-3-left {
        text-align: left;

        .contents {
          margin-left: 12px;
          width: Fixed (315px);
          margin-bottom: 12px;

          p {
            font-size: 1.4rem;
            line-height: 18px;
            width: 330px;
          }
        }
      }

      .col-image {
        margin-top: -20px;
        width: 90%;
      }
    }

    .box-4 {
      margin-bottom: 40px;

      h3 {
        margin-bottom: 6px;
        margin-left: 0px;
        text-align: center;
        font-size: 24px;
      }

      p {
        margin-left: 12px;
        font-size: 14px;
        line-height: 18px;
        width: 350px;
        color: #6d6d6d;
      }

      .box-GenAI {
        text-align: center;
      }

      img {
        margin-left: 0px;
      }
    }

    .box-5 {
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 8px;
      padding-right: 16px;
      margin-bottom: 30px;

      img {
        width: 100%;
      }

      .github-logo {
        margin-left: -10px;
      }

      .isense-logo {
        margin-left: -10px;
        width: 230%;
      }

      .linkedin-logo {
        margin-left: 10px;
      }

      .fb-logo {
        margin-left: -5px;
      }

      .tedez-logo {
        margin-left: -10px;
        width: 230%;
      }

      .figma-logo {
        margin-right: -10px;
      }

      .worknow-logo {
        margin-left: -8px;
      }
    }

    .box-6 {
      h1 {
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }
    }

    .consultant {
      h3 {
        margin-left: 0px;
        font-size: 24px;
        text-align: center;
      }

      .row-consultant {
        margin-left: 12px;

        .consultant-info {
          .name {
            font-size: 14px;
            line-height: 18px;
          }

          .position {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 0px;
          }

          .description {
            font-size: 12px;
            line-height: 15px;
          }

          .tag-box {
            .tag {
              padding: 2px;
              font-size: 8px;
            }
          }
        }
      }
    }

    .certifications {
      .header {
        width: 103%;

        h3 {
          padding-top: 20px;
          margin-left: 0px;
          font-size: 24px;
          font-weight: 900;
          line-height: 31px;
          text-align: center;
        }
      }

      .cert {
        margin-bottom: 24px;
        margin-top: 12px;
        margin-left: -12px;

        .org-image {
          img {
            width: 70%;
            margin-left: 10px;
          }
        }

        .cert-inf {
          margin-left: 0px;
          margin-top: 0px;

          .cert-name {
            margin-left: 36px;
            font-size: 20px;
            margin-bottom: 0px;
          }

          .org-info {
            margin-bottom: 0px;
          }

          .cert-issue-time {
            margin-left: 36px;
          }
        }
      }
    }
  }

  @include tablet {
    .box-1 {
      margin-top: 30px;

      .box-1-left {
        text-align: left;
        margin-top: 20px;

        .grey-text {
          margin-left: 12px;
          line-height: 20px;
        }

        h3 {
          margin-bottom: 40px;
          margin-left: 12px;
          width: 360px;
          font-size: 40px;
          line-height: 51px;
        }

        .sub-text {
          margin-top: -20px;
          margin-bottom: 60px;
          margin-left: 12px;
          width: 360px;
          font-size: 20px;
          line-height: 25px;
        }

        .homepage-button-1 {
          margin-left: 12px;
          width: 247px;
          padding: 0 10px;

          img {
            margin-left: 12px;
          }
        }
      }
      .robot-hands {
        margin-top: 60px;
      }
    }

    .box-2 {
      .box-2-color {
        padding-top: 1px;

        h3 {
          margin-top: 20px;
          margin-left: 12px;
          width: fit-content;
          height: fit-content;
          font-size: 40px;
          line-height: 51px;
          text-align: left;
        }

        .col-style {
          margin-left: 12px;

          .sub-text {
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            width: 99%;
          }
        }
      }

      img {
        width: 99%;
        margin-top: 14px;
        margin-bottom: 20px;
      }
    }

    .box-3 {
      h3 {
        margin-bottom: 32px;
        font-size: 40px;
        margin-left: 12px;
        text-align: left;
        line-height: 51px;
      }

      .box-3-left {
        text-align: left;

        .contents {
          margin-left: 12px;

          p {
            font-size: 1.6 rem;
            line-height: 24px;
            width: 441px;
          }
        }
      }

      .col-image {
        width: 100%;
      }
    }

    .box-4 {
      margin-bottom: 40px;

      h3 {
        margin-bottom: 12px;
        margin-left: 12px;
        text-align: left;
        font-size: 40px;
      }

      p {
        text-align: left;
        margin-left: 12px;
        font-size: 16px;
        line-height: 21px;
        width: fit-content;
      }

      .box-GenAI {
        // text-align: left;
      }

      img {
        margin-left: 12px;
      }
    }

    .box-5 {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 30px;

      img {
        width: fit-content;
      }

      .github-logo {
        margin-left: -40px;
      }

      .isense-logo {
        margin-left: -20px;
        width: fit-content;
      }

      .linkedin-logo {
        margin-left: 0px;
      }

      .fb-logo {
        margin-left: -30px;
      }

      .tedez-logo {
        margin-left: -10px;
        width: fit-content;
      }

      .figma-logo {
        margin-right: -20px;
      }

      .worknow-logo {
        margin-left: 0px;
      }
    }

    .box-6 {
      h1 {
        font-size: 96px;
      }

      p {
        font-size: 24px;
      }
    }

    .consultant {
      h3 {
        margin-left: 12px;
        font-size: 40px;
        text-align: left;
      }

      .row-consultant {
        margin-left: 12px;

        .consultant-info {
          .name {
            font-size: 20px;
            line-height: 20px;
          }

          .position {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 12px;
          }

          .description {
            font-size: 16px;
            line-height: 20px;
          }

          .tag-box {
            .tag {
              padding: 2px 8px 2px 8px;
              font-size: 14px;
            }
          }
        }
      }
    }

    .certifications {
      .header {
        width: 101%;

        h3 {
          padding-top: 24px;
          margin-left: 12px;
          font-size: 40px;
          font-weight: 900;
          line-height: 51px;
          text-align: left;
        }
      }

      .cert {
        margin-top: 12px;
        margin-left: 12px;

        .org-image {
          img {
            width: 100%;
            margin-left: -10px;
          }
        }

        .cert-inf {
          margin-left: -20px;
          margin-top: -6px;

          .cert-name {
            font-size: 20px;
            margin-bottom: 13px;
          }

          .org-info {
            margin-bottom: 13px;
          }

          .cert-issue-time {
            margin-left: 0px;
          }
        }
      }
    }
  }

  @include desktop {
    .box-1 {
      margin-top: 20px;
      margin-bottom: 50px;

      .box-1-left {
        text-align: left;
        margin-top: 30px;

        .grey-text {
          margin-left: 120px;
          line-height: 20px;
        }

        h3 {
          margin-bottom: 40px;
          margin-left: 120px;
          width: 350px;
          font-size: 40px;
          line-height: 51px;
        }

        .sub-text {
          margin-top: -20px;
          margin-bottom: 60px;
          margin-left: 120px;
          width: 351px;
          font-size: 20px;
          line-height: 25px;
        }

        .homepage-button-1 {
          margin-left: 120px;
          width: 247px;

          img {
            margin-left: 12px;
          }
        }
      }

      .robot-hands {
        margin-top: 0px;
      }
    }

    .box-2 {
      .box-2-color {
        padding-top: 10px;

        h3 {
          margin-top: 40px;
          margin-left: 120px;
          width: 551px;
          font-size: 40px;
          line-height: 51px;
          text-align: left;
        }

        .col-style {
          margin-left: 120px;

          .sub-text {
            width: 91.67%;
            text-align: left;
          }
        }
      }

      img {
        width: 83.3%;
        margin-top: 32px;
        margin-bottom: 44px;
      }
    }

    .box-3 {
      h3 {
        margin-bottom: 32px;
        font-size: 40px;
        margin-left: 120px;
        text-align: left;
        line-height: 51px;
      }

      .box-3-left {
        text-align: left;

        .contents {
          margin-left: 50px;

          p {
            width: 441px;
            font-size: 1.6 rem;
            line-height: 24px;
          }
        }
      }

      .col-image {
        width: 90%;
        margin-left: 120px;
      }
    }

    .box-4 {
      margin-bottom: 80px;

      h3 {
        margin-left: 120px;
        font-size: 40px;
      }

      p {
        margin-left: 120px;
        width: 83.3%;
        font-size: 16px;
        line-height: 21px;
      }

      .box-GenAI {
        text-align: center;
      }

      img {
        width: 83.3%;
      }
    }

    .box-5 {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 120px;
      padding-right: 120px;
      margin-bottom: 60px;

      img {
        width: fit-content;
      }

      .github-logo {
        margin-left: 0px;
      }

      .isense-logo {
        margin-left: 0px;
        width: fit-content;
      }

      .linkedin-logo {
        margin-left: 0px;
      }

      .fb-logo {
        margin-left: 0px;
      }

      .tedez-logo {
        margin-left: 0px;
        width: fit-content;
      }

      .figma-logo {
        margin-right: 0px;
      }

      .worknow-logo {
        margin-left: 0px;
      }
    }

    .box-6 {
      margin-right: 12px;

      @include desktop {
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-size: 96px;
      }

      p {
        font-size: 24px;
      }
    }

    .consultant {
      h3 {
        margin-left: 120px;
        font-size: 40px;
        text-align: left;
      }

      .row-consultant {
        margin-left: 120px;

        .consultant-info {
          .name {
            font-size: 20px;
            line-height: 25px;
          }

          .position {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 12px;
          }

          .description {
            font-size: 16px;
            line-height: 20px;
          }

          .tag-box {
            .tag {
              padding: 4px 8px 4px 8px;
              line-height: 24px;
            }
          }
        }
      }
    }

    .certifications {
      .header {
        width: 100%;

        h3 {
          padding-top: 24px;
          margin-left: 120px;
          font-size: 40px;
          font-weight: 900;
          line-height: 51px;
          text-align: left;
        }
      }

      .cert {
        margin-top: 24px;
        margin-left: 120px;

        .org-image {
          img {
            width: 100%;
          }

          margin-left: -24px;
        }

        .cert-inf {
          margin-left: 12px;
          margin-top: -10px;

          .cert-name {
            font-size: 24px;
            margin-bottom: 0px;
          }

          .org-info {
            margin-bottom: 0px;
          }

          .cert-issue-time {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
