.custom-layout {
  font-size: 1.6rem;
  background-color: $white;
  height: 100%;
  .custom-content {
    // margin: auto;
    @include mobile {
      margin-top: 50px;
    }
    @include desktop {
      margin-top: 88px;
    }
    text-align: center;
    font-size: 1.6rem;
    height: 100%;
  }
}
