.list-feature {
  color: $black;
  height: 646px;
  padding: 16px;
  text-align: left;
  height: fit-content;
  .header {
    margin-bottom: 12px;
    display: flex;
    cursor: pointer;

    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin: 0 0 0 8px;
    }
  }

  .select-group {
    @include mobile {
      display: unset;
    }

    @include desktop {
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }

    .select-text {
      margin: 0 8px 0 0;
      color: var(--mute, #9c9c9c);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .select-button {
      box-shadow: none;
      display: flex;
      height: 32px;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 8px;
      border: 1px solid #ebebeb;
      font-family: $primary-font;
      background: #fff;
      margin: 5px 8px 5px 0;

      img {
        height: 24px;
        filter: invert(72%) sepia(0%) saturate(0%) hue-rotate(138deg)
          brightness(91%) contrast(91%);
      }

      span {
        margin-left: 4px;
        color: #a4a4a4;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    // .select-button:hover,
    .select-button.selected {
      border: 1px solid #f9c561;
      background: #f9c561;

      img {
        filter: invert(6%) sepia(8%) saturate(1118%) hue-rotate(32deg)
          brightness(105%) contrast(93%);
      }

      span {
        color: #191a15;
      }
    }

    .add-text {
      cursor: pointer;
      margin: 0;
      color: #0094ff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-left: auto;
    }
  }

  .features-box {
    display: flex;
    .small-features {
      width: 85%;
      p.name {
        // margin: 0;
        color: #0094ff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      p.description {
        margin: 0;
        color: var(--caption, #6d6d6d);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .play-box {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        cursor: pointer;
      }
    }
  }

  :global(span.ant-checkbox-checked span.ant-checkbox-inner) {
    background-color: #f9c561 !important;
    border-color: #f9c561 !important;
  }

  :global(label.ant-checkbox-wrapper:hover span.ant-checkbox-inner) {
    border-color: #f9c561 !important;
  }

  :global(label.ant-checkbox-wrapper:hover span.ant-checkbox-checked:after) {
    border-color: #f9c561 !important;
  }

  :global(span.ant-checkbox-checked:after) {
    border-color: #f9c561 !important;
  }

  .custom-svg {
    height: 20px !important;
  }

  .bottom-bar {
    @include mobile {
      display: unset;
      background: unset;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
      background: #ebebeb;
    }
    border-radius: 16px;
    padding: 8px;

    .left {
      @include mobile {
        display: unset;
      }
      @include tablet {
        display: flex;
        align-items: center;
      }
      img {
        margin: 0 4px;
      }
      p {
        margin: 0;
      }
      .features-days {
        color: var(--caption, #6d6d6d);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .cost {
        color: #191a15;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .full-payment {
        cursor: pointer;
        margin-right: 16px;
        border-radius: 12px;
        background: #fff;
        padding: 6px 8px;
      }
      .monthly-payment {
        cursor: pointer;
        border-radius: 12px;
        background: #fff;
        padding: 6px 8px;
      }
      .selected-payment {
        background: #f9c561;
      }

      .flex {
        display: flex;
      }

      .flex,
      .monthly-payment {
        @include mobile {
          margin-top: 4px;
          margin-bottom: 4px;
        }
        @include tablet {
          margin-top: unset;
          margin-bottom: unset;
        }
      }
    }

    .right {
      display: flex;
      .timeline {
        cursor: pointer;
        display: flex;
        height: 54px;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 12px;
        border: 1px solid #0085ff;
        background: #fff;
        margin-right: 5px;
        span {
          color: #0085ff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .go-with-us {
        cursor: pointer;
        display: flex;
        height: 40px;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 12px;
        background: #0094ff;

        span {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}

.popup {
  h2 {
    margin: 0;
    color: var(--Text, #191a15);
    font-family: Be Vietnam Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .popup-box {
    text-align: center;
    border-radius: 4px;
    background: #ebebeb;
    padding-top: 16px;
    padding-bottom: 16px;
    .feature-type {
      color: var(--Text, #191a15);
      font-family: Be Vietnam Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
    }

    .feature-name {
      color: var(--mute, #9c9c9c);
      font-family: Be Vietnam Pro;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
    }

    .popup-image {
      margin-bottom: 25px;
      margin-top: 25px;
      @include mobile {
        height: 300px;
      }
      @include desktop {
        height: 500px;
      }
    }
    .popup-image.desktop {
      @include mobile {
        width: 80%;
      }

      @include desktop {
        width: auto;
      }
    }

    .popup-image.mobile {
      @include mobile {
        width: 100%;
      }

      @include desktop {
        width: 30%;
      }
    }

    .btn-group {
      img {
        cursor: pointer;
      }
      .left-btn {
        margin-right: 23px;
      }
    }
  }
  .type-group {
    margin-top: 10px;
    display: flex;
    .btn {
      width: 196px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 8px;
      border-radius: 4px;
      img {
        margin-right: 8px;
      }
      span {
        color: #000;
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .btn:hover,
    .btn.selected {
      background-color: #e5f4ff;
      img {
        filter: invert(39%) sepia(48%) saturate(4476%) hue-rotate(192deg)
          brightness(99%) contrast(113%);
      }
    }

    .web {
      margin-right: 10px;
    }
  }
}

.tooltips {
  background-color: #fff;
  color: var(--caption, #6d6d6d);
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span {
    color: #0085ff;
  }
}

.cusmtom-table {
  :global(th.ant-table-cell) {
    font-family: $primary-font;
  }
  :global(td.ant-table-cell) {
    font-family: $primary-font;
  }
}
