$primary-color: #00218f;
$secondary-color: #5ffe9f;
$white: #ffffff;
$black: #1f1f1f;
$black1: #000000;
$gray: #ebebeb;
$gray1: #f3f3f3;
$gray2: #9c9c9c;
$gray3: #efefef;
$gray4: #6d6d6d;
$gray5: #ececec;

$blue: #0094ff;
$primary-font: "Be Vietnam Pro";

/* Mixin */
$XS: 480px;
$SM: 768px;
$MD: 1024px;
