.chatbot {
  border-radius: 24px;
  background-color: $white;
  font-family: $primary-font;
  outline: rgba(255, 255, 255, 0.3) solid 16px;
  width: fit-content;
  min-height: 720px;
  @include mobile {
    width: 100%;
  }
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 1022px;
  }
  .chat-header {
    border-radius: 24px 24px 0 0;
    text-align: start;
    padding: 4px;
    display: flex;
    align-items: center;
    background-color: $gray;

    img {
      margin: 8px 28px 8px 8px;
    }

    p {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      margin: 0;
    }

    @include mobile {
      img {
        margin: 4px 14px 4px 4px;
      }
      p {
        font-size: 1.4rem;
        line-height: 14px;
      }

    }
    @include tablet {
      img {
        margin: 8px 28px 8px 8px;
      }
      p {
        font-size: 2rem;
        line-height: 30px;
      }
    }
  }

  .chat-window {
    padding: 16px;
    height: 545px;
    overflow-y: auto;

    .description {
      color: var(--caption, #6d6d6d);
      text-align: center;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
    }
    .error-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 178.5px;
      .error-note {
        font-family: Be Vietnam Pro;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        color: #9C9C9C;
        margin: 12px 0;
      }
      .retry-btn-wrap {
        display: flex;
        align-items: center;
        cursor: pointer;
        .tap-to-retry {
          font-family: Be Vietnam Pro;
          font-size: 20px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0em;
          text-align: left;
          color: #1B1C17;
          margin-left: 8px;
        }
      }
    }
    .bot-message,
    .user-message,
    .bubble-message {
      line-height: 24px;
      text-align: start;
      font-size: 1.6rem;
      p {
        margin: 4px 0;
        padding: 8px 12px;
      }
      @include mobile {
        p {
          font-size: 1.2rem;
          line-height: normal;
        }
      }
      @include tablet {
        p {
          font-size: 2rem;
          line-height: 30px;
        }
      }
    }

    .refresh-box {
      margin-top: 10px;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .refresh-button {
        cursor: pointer;
        padding: 4px 12px;
        gap: 12px;
        border-radius: 8px;
        background: #e9f6ff;
        color: #0094ff;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .bot-message {
      p {
        border-radius: 4px 16px 16px 16px;
        background: $gray;
        color: $black;
        width: fit-content;
        max-width: 450px;
        span {
          white-space: nowrap;
          color: $blue;
          overflow-x: hidden;
          cursor: pointer;
        }
      }
    }

    .user-message {
      display: flex;
      justify-content: flex-end;

      p {
        border-radius: 16px 16px 4px 16px;
        background: $blue;
        width: fit-content;
        max-width: 450px;
        overflow-x: hidden;
      }
    }

    .bubble-message {
      display: flex;
      justify-content: flex-end;

      p {
        cursor: pointer;
        border-radius: 16px 16px 4px 16px;
        border: 1px solid $blue;
        color: $blue;
        width: fit-content;
      }
      p:hover {
        background: $blue;
        color: $white;
      }
    }
  }

  .button-group {
    // background-color: #ebebeb;
    width: 100%;
    height: 56px;
    border-radius: 16px;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    .send-button {
      background-color: $white;
      background-color: $white;
      color: $white;
      border-left: none;
      background-color: #ebebeb;
      border: none;
    }

    .custom-input {
      font-family: $primary-font;
      background-color: #ebebeb;
      border: none;
      @include mobile {
        font-size: 1.2rem;
      }
      @include desktop {
        font-size: 2rem;
      }
    }

    .custom-input:focus {
      box-shadow: none;
    }
    .attach-btn {
      background-image: url(/attach.svg);
      background-repeat: no-repeat;
      background-position: center right;
      height: 100%;
      border-right: none;
      padding-right: 20px;
      padding-left: 20px;
    }
    .attach-btn:hover {
      background-color: #bfbfbf;
    }
    .send-btn {
      background-image: url(/send_msg.svg);
      background-repeat: no-repeat;
      background-position: center left 5px;
      height: 100%;
      padding-right: 25px;
    }
    .send-btn:hover {
      background-color: #bfbfbf;
    }
  }

  .privacy {
    padding: 0px 16px 16px 16px;
    font-size: 1.4rem;
    line-height: 21px;
    margin: 4px 0px 8px 0px;
    text-align: start;
    color: #6d6d6d;
    @include mobile {
      font-size: 1.2rem;
      line-height: normal;
    }
    @include tablet {
      font-size: 1.4rem;
      line-height: 21px;
    }
  }
}

.confirm-box {
  text-align: center !important;
  font-size: 1.6rem;
  line-height: 24px;
  font-family: $primary-font;
  .confirm-button {
    color: $blue;
    background-color: #d0eeff;
    font-family: $primary-font;
  }
}
