@import "../../styles/global.module.scss";

.chatbot {
  border-radius: 24px;
  background-color: $white;
  font-family: "Be Vietnam Pro";
  font-family: "Be Vietnam Pro";
  outline: rgba(255, 255, 255, 0.3) solid 16px;
  width: fit-content;
  height: fit-content;
  min-width: 1022px;

  .chat-header {
    border-radius: 24px 24px 0 0;
    text-align: start;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: $gray;

    img {
      margin: 8px 28px 8px 8px;
    }

    p {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin: 0;
    }
  }

  .chat-window {
    padding: 16px;

    .bot-message,
    .user-message {
      line-height: 24px;
      text-align: start;
      font-size: 16px;
      p {
        padding: 8px 12px;
      }
    }

    .bot-message {
      p {
        border-radius: 4px 16px 16px 16px;
        background: $gray;
        color: $black;
        width: fit-content;
        max-width: 450px;
        span {
          white-space: nowrap;
          color: $blue;
          cursor: pointer;
        }
      }
    }

    .user-message {
      display: flex;
      justify-content: flex-end;

      p {
        border-radius: 16px 16px 4px 16px;
        background: $blue;
        width: fit-content;
      }
    }
  }

  .button-group {
    background-color: #ebebeb;
    width: 990px;
    height: 56px;
    border-radius: 16px;
    padding: 8px 12px;
    cursor: pointer;
    .send-button {
      background-color: $white;
      background-color: $white;
      color: $white;
      border-left: none;
      background-color: #ebebeb;
      border: none;
    }

    .custom-input {
      font-family: "Be Vietnam Pro";
      background-color: #ebebeb;
      border: none;
    }
    .attach-btn {
      background-image: url(/attach.svg);
      background-repeat: no-repeat;
      background-position: center right;
      background-position-x: -6px;
      border-right: none;
      margin-right: 8px;
      margin-top: 4px;
    }
    .attach-btn:hover {
      background-color: #bfbfbf;
    }
    .send-btn {
      background-image: url(/send_msg.svg);
      background-repeat: no-repeat;
      background-position: center left 5px;
      margin-right: 2px;
      margin-top: 4px;
    }
    .send-btn:hover {
      background-color: #bfbfbf;
    }
  }

  .privacy {
    padding: 0px 16px 16px 16px;
    font-size: 14px;
    line-height: 21px;
    text-align: start;
    color: #6d6d6d;
    margin: 0;
  }
}

.confirm-box {
  text-align: center !important;
  font-size: 16px;
  line-height: 24px;
  font-family: "Be Vietnam Pro";
  font-family: "Be Vietnam Pro";
  .confirm-button {
    color: $blue;
    background-color: #d0eeff;
    font-family: "Be Vietnam Pro";
    font-family: "Be Vietnam Pro";
  }
}
