.visible {
  .custom-header-bar {
    opacity: 0 !important;
  }
}
.navbar-scroll {
  .custom-header-bar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    @include mobile {
      opacity: 1;
    }
    @include desktop {
      opacity: 0.95;
    }
  }
}
.custom-header {
  padding: 0;
  height: fit-content;
  font-family: $primary-font;
  background-color: $primary-color;
  @include mobile {
    background: url("/headerElipse.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include tablet {
    background: url("/headerElipse.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include desktop {
    background: url("/home_background.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .custom-header-navbar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    @include mobile {
      padding: 12px 16px !important;
      height: 60px;
    }

    @include tablet {
      padding: 24px 120px !important;
      height: 88px;
    }

    p {
      margin: 0;
      margin-left: 12px;
      color: #fff;
      font-family: $primary-font;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .custom-header-bar {
    display: flex;
    align-items: center;
    padding: 40px 120px !important;
    justify-content: space-between;
    height: 88px;
    font-size: 1.4rem;
    width: 100%;
    transition: all 0.24s linear;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #00218f;
    @include mobile {
      padding: 12px 16px !important;
      height: auto;

      img {
        height: 33px;
        margin-left: -15px;
      }

      .custom-header-container {
        display: none !important;
      }

      .custom-header-container-mobile {
        display: flex !important;
        :global(div.ant-drawer-header-title) {
          justify-content: flex-end !important;
        }
        :global(div.ant-drawer-body) {
          padding: 12px 16px 16px 16px;
        }
        :global(.ant-drawer-close) {
          margin-right: 0;
        }
        .menu-navbar {
          display: flex;
          flex-direction: column;
        }

        .text-header {
          color: $black;
          transition: all 0.5s;
          text-align: left;
        }

        .text-header:hover {
          color: #5ffe9f;
        }

        .font-700 {
          color: #5ffe9f;
          font-weight: 700;
          font-size: 1.4rem;
        }
      }
    }
    @include desktop {
      padding: 24px 120px !important;
      height: 88px;

      .custom-header-container {
        display: flex !important;
      }

      .custom-header-container-mobile {
        display: none !important;
      }

      img {
        height: 42px;
        margin-left: 0px;
      }
    }

    .custom-header-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .menu-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        a:last-child {
          margin-left: 44px;
        }
      }

      .text-header {
        line-height: normal;
        color: $white;
        margin: 0 20px;
        font-family: $primary-font;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        transition: all 0.5s;
      }

      :global(.ant-space-item) {
        line-height: normal;
        color: $white;
        // margin: 0 20px;
        font-family: $primary-font !important;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        transition: all 0.5s;
      }

      .text-header:hover {
        color: #5ffe9f;
      }
      :global(.ant-space:hover) {
        div {
          color: #5ffe9f;
        }
      }
      .font-700 {
        color: #5ffe9f;
        font-weight: 700;
        :global(.ant-space-item) {
          color: #5ffe9f;
          font-weight: 700;
        }
      }
    }
  }

  .custom-header-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $white;
    padding-top: 40px;
    margin-bottom: 40px;
    height: 100;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    @include mobile {
      margin-top: 50px;
      padding: 0 24px;
      padding-top: 24px;
      margin-bottom: 24px;
    }
    @include tablet {
      padding: 0;
      padding-top: 40px;
      margin-bottom: 40px;
    }
    @include desktop {
      margin-top: 88px;
    }
    .homepage-big-text {
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 81px;
      margin: 0;
      font-family: $primary-font;
      @include mobile {
        font-size: 2.4rem;
        line-height: 36px;
      }
      @include tablet {
        font-size: 4.8rem;
        line-height: 81px;
      }
      span {
        color: $secondary-color;
      }
    }

    .homepage-small-text {
      margin-bottom: 0;
      line-height: 32px;
      font-size: 1.7rem;
      font-family: $primary-font;
      font-weight: 500;
      letter-spacing: -0.41;
      @include mobile {
        font-size: 1.2rem;
        line-height: normal;
        margin-bottom: 36px;
      }
      @include tablet {
        font-size: 1.7rem;
        line-height: 32px;
        margin-bottom: 48px;
      }
      span {
        color: $secondary-color;
      }
    }
    .button-group {
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
      @include mobile {
        flex-direction: column;
      }
      @include tablet {
        flex-direction: row;
      }
    }
  }

  .chatbot-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    @include mobile {
      margin-top: 0px;
    }
    @include tablet {
      margin-top: 100px;
    }
  }

  .homepage-button-1 {
    font-weight: 800;
    font-size: 1.4rem;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $secondary-color;
    color: #0f0f0f;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: $primary-font;
    border: none;
    @include mobile {
      margin-bottom: 12px;
    }
    @include tablet {
      margin-top: 5px;
    }
  }

  .homepage-button-2 {
    color: $white !important;
    border-color: $white !important;
    font-size: 1.4rem;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $primary-color;
    margin-left: 25px;
    align-items: center;
    font-family: $primary-font;
    font-weight: 900;
    @include mobile {
      margin: 0;
      width: 100%;
    }
    @include tablet {
      min-width: 133px;
      margin-bottom: 0px;
      margin-left: 25px;
    }
  }

  .homepage-button-2:hover {
    background-color: #0f0f0f;
  }
}

.our-solution-custom-label {
  color: var(--caption, #6d6d6d);
  font-family: Be Vietnam Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 0;
}

.our-solution-custom-icon {
  filter: invert(43%) sepia(0%) saturate(12%) hue-rotate(138deg) brightness(94%)
    contrast(78%);
}

.our-solution-dropdown {
  :global(.ant-dropdown-menu-item:hover) {
    background: #5ffe9f !important;
    .our-solution-custom-icon {
      filter: invert(8%) sepia(4%) saturate(2336%) hue-rotate(32deg)
        brightness(97%) contrast(92%);
    }
    .our-solution-custom-label {
      color: var(--Text, #1b1c17);
    }
  }
  :global(.ant-dropdown-menu-item) {
    .our-solution-custom-icon.font-600 {
      filter: invert(8%) sepia(4%) saturate(2336%) hue-rotate(32deg)
        brightness(97%) contrast(92%);
    }
    .our-solution-custom-label.font-600 {
      color: var(--Text, #1b1c17);
      font-weight: 600;
    }
  }
}
