@import "../../styles/global.module.scss";

.custom-header {
  padding: 0;
  height: fit-content;
  font-family: $primary-font;
  background-color: $white;
  @include mobile {
    background: url("/headerElipse.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  @include tablet {
    background: url("/headerElipse.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  @include desktop {
    background: url("/home_background.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .custom-header-navbar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    @include mobile {
      padding: 12px 16px !important;
      height: 60px;
    }
    @include tablet {
      padding: 24px 120px !important;
      height: 130px;
    }
    p {
      margin: 0;
      margin-left: 12px;
      color: #fff;
      font-family: $primary-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .custom-header-bar {
    display: flex;
    align-items: center;
    padding: 40px 120px !important;
    justify-content: space-between;
    height: 130px;
    font-size: 16px;
    width: 100%;

    @include mobile {
      padding: 12px 16px !important;
      height: auto;
      img {
        height: 33px;
        margin-left: -15px;
      }
      .custom-header-container {
        display: none !important;
      }
      .custom-header-container-mobile {
        display: flex !important;
        :global(div.ant-drawer-header-title) {
          justify-content: flex-end !important;
        }
        :global(div.ant-drawer-body) {
          padding: 12px 16px 16px 16px;
        }
        :global(.ant-drawer-close) {
          margin-right: 0;
        }
        .menu-navbar {
          display: flex;
          flex-direction: column;
        }
        .text-header {
          color: $black;
          transition: all 0.5s;
          text-align: left;
        }
        .text-header:hover {
          color: #5ffe9f;
        }

        .font-700 {
          color: #5ffe9f;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
    @include desktop {
      padding: 24px 120px !important;
      height: 130px;
      .custom-header-container {
        display: flex !important;
      }
      .custom-header-container-mobile {
        display: none !important;
      }
      img {
        height: 42px;
        margin-left: 0px;
      }
    }
    .custom-header-container {
      height: 5 0px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .menu-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        a:last-child {
          margin-left: 44px;
        }
      }
      .text-header {
        line-height: 50px;
        color: $white;
        margin: 0 20px;
        font-family: Be Vietnam Pro;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        transition: all 0.5s;
      }
      .text-header:hover {
        color: #5ffe9f;
      }
      .font-700 {
        color: #5ffe9f;
        font-weight: 700;
        scale: 1.2;
      }
    }
  }

  .custom-header-content {
    text-align: center;
    color: $white;
    padding-top: 40px;
    margin-bottom: 40px;
    height: 100;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    @include mobile {
      padding: 0 24px;
      padding-top: 24px;
      margin-bottom: 24px;
    }
    @include tablet {
      padding: 0;
      padding-top: 40px;
      margin-bottom: 40px;
    }
    .homepage-big-text {
      font-weight: 700;
      font-size: 64px;
      line-height: 81px;
      margin: 0;
      font-family: "Be Vietnam Pro";
      @include mobile {
        font-size: 24px;
        line-height: 36px;
      }
      @include tablet {
        font-size: 64px;
        line-height: 81px;
      }
      span {
        color: $secondary-color;
      }
    }

    .homepage-small-text {
      margin-bottom: 0;
      line-height: 32px;
      font-size: 17px;
      font-family: "Be Vietnam Pro";
      font-weight: 500;
      letter-spacing: -0.41;
      @include mobile {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 36px;
      }
      @include tablet {
        font-size: 17px;
        line-height: 32px;
        margin-bottom: 48px;
      }
    }
    .button-group {
      display: flex;
      justify-content: center;
      margin-bottom: 48px;
      @include mobile {
        flex-direction: column;
      }
      @include tablet {
        flex-direction: row;
      }
    }
  }

  .chatbot-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    @include mobile {
      margin-top: 0px;
    }
    @include tablet {
      margin-top: 100px;
    }
  }

  .homepage-button-1 {
    font-weight: 800;
    font-size: 16px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $secondary-color;
    color: #0f0f0f;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Be Vietnam Pro";
    @include mobile {
      margin-bottom: 12px;
    }
    @include tablet {
      margin-top: 5px;
    }
  }

  .homepage-button-2 {
    color: $white !important;
    border-color: $white !important;
    font-size: 16px;
    line-height: 17px;
    height: 52px;
    border-radius: 2px;
    padding: 0 20px;
    background-color: $primary-color;
    margin-left: 25px;
    align-items: center;
    font-family: "Be Vietnam Pro";
    font-weight: 900;
    @include mobile {
      margin: 0;
      width: 100%;
    }
    @include tablet {
      min-width: 133px;
      margin-bottom: 0px;
      margin-left: 25px;
    }
  }
  .homepage-button-2:hover {
    background-color: #0f0f0f;
  }
}
