@import "@/styles/global.module.scss";

.custom-footer {
  color: $white;
  background-color: $primary-color;
  font-family: $primary-font;
  @include mobile {
      font-size: 16px;
       padding: 36px 20px !important;
    .row {
      :global(div.ant-col-8) {
        margin-bottom: 12px;
        width: 100%;
        flex: 1;
        max-width: 100%;
      }
    }
    .copy-right {
      text-align: center;
      margin: 50px 0px !important;
    }

  }
  @include tablet {
    font-size: 14px;
    padding: 12px !important;
    .copy-right {
      text-align: center;
      margin: 0px 0px !important;
    }

  }
  @include desktop {
    font-size: 16px;
    padding: 40px 120px !important;
    .copy-right {
      text-align: center;
      margin: 0px 0px !important;
    }

  }
  .group-contact {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-family: $primary-font;
    font-family: $primary-font;
    img {
      margin-right: 10px;
    }
    @include mobile {
      font-size: 16px;
    }
    @include tablet {
      font-size: 14px;
    }
    @include desktop {
      font-size: 16px;
    }
  }

  .title {
    margin-top: 0;
    font-family: $primary-font;
    font-family: $primary-font;
    margin-top: 0;
    @include mobile {
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
    }
    @include tablet {
      font-weight: 500;
      font-size: 25px;
      line-height: 42px;
    }
    @include desktop {
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
    }

  }

  .content {
    @include mobile {
    font-size: 16px;
    font-family: $primary-font;
    }
    @include tablet {
      font-size: 14px;
      font-family: $primary-font;
    }
      @include desktop {
        font-size: 16px;
        font-family: $primary-font;
    }
  }
  a:link,
  a:visited {
    color: $white;
  }
  .content:hover,
  .group-contact:hover {
    color: #5ffe9f;
    cursor: pointer; 
  }

  .button-group {
      padding: 10px 10px 10px 24px;
      border-radius: 8px;
      border: 2px solid $white;
      background: $primary-color;
      align-items: center;
      @include mobile {
        padding: 10px 10px 10px 24px;
      }
      @include tablet {
        padding: 10px 10px 10px 10px;
      }
      @include desktop {
        padding: 10px 10px 10px 24px;
       }
    
    button {
        font-weight: 800;
        line-height: 17px;
        height: 52px;
        border-radius: 2px;
        width: 100%;
        background-color: $secondary-color;
        font-family: $primary-font;
      @include mobile {
        font-size: 16px;
        padding: 0 20px;
      }
      @include tablet {
        font-size: 14px;
        padding: 0 0px;
      }
      @include desktop {     
        font-size: 16px;
        padding: 0 20px;

      }
    }
    .your_email {
      font-family: $primary-font;
      border: none;
      background-color: $primary-color;
      color: $white;
      padding: 10 10px 10px 24px;
    }
    .your_email::placeholder {
      color: $white;
      font-family: $primary-font;
      @include mobile { 
        text-align: center;
      }
      @include tablet { 
        text-align: start;
      }
      @include desktop { 
        text-align: center;
      }
    }
    .your_email {
      font-family: $primary-font;
      border: none;
      background-color: $primary-color;
      color: $white;
      padding: 10 10px 10px 24px;
    }
    .your_email::placeholder {
      color: $white;
    }
  }

  .copy-right {
    text-align: center;
    margin-top: 50px;
  }

  .bg-white {
    background-color: $white;
  }
  
}
