@import "../../styles/global.module.scss";

.custom-footer {
  color: $white;
  background-color: $primary-color;
  font-size: 16px;
  padding: 40px 120px;
  font-family: "Be Vietnam Pro";
  @include mobile {
    padding: 36px 20px !important;
    .row {
      :global(div.ant-col-8) {
        margin-bottom: 12px;
        width: 100%;
        flex: 1;
        max-width: 100%;
      }
    }
    .copy-right {
      text-align: center;
      margin: 50px 0px !important;
    }

  }
  @include tablet {
    padding: 40px 120px !important;
    .copy-right {
      text-align: center;
      margin: 0px 0px !important;
    }

  }
  .group-contact {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-family: "Be Vietnam Pro";
    img {
      margin-right: 10px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-top: 0;
    font-family: "Be Vietnam Pro";
    margin-top: 0;
  }

  .content {
    font-size: 16px;
    font-family: "Be Vietnam Pro";
  }
  a:link,
  a:visited {
    color: $white;
  }
  .content:hover,
  .group-contact:hover {
    text-decoration: underline 2px;
    text-decoration-color: #5ffe9f;
    text-underline-offset: 3px;
  }

  .button-group {
    font-size: 16px;
    padding: 10px 10px 10px 24px;
    border-radius: 8px;
    border: 2px solid $white;
    background: $primary-color;
    align-items: center;
    button {
      font-weight: 800;
      font-size: 16px;
      line-height: 17px;
      height: 52px;
      border-radius: 2px;
      width: 100%;
      padding: 0 20px;
      background-color: $secondary-color;
      font-family: "Be Vietnam Pro";
    }
    .your_email {
      font-family: "Be Vietnam Pro";
      border: none;
      background-color: $primary-color;
      color: $white;
      padding: 10 10px 10px 24px;
    }
    .your_email::placeholder {
      color: $white;
      font-family: "Be Vietnam Pro";
    }
    .your_email {
      font-family: "Be Vietnam Pro";
      border: none;
      background-color: $primary-color;
      color: $white;
      padding: 10 10px 10px 24px;
    }
    .your_email::placeholder {
      color: $white;
    }
  }

  .copy-right {
    text-align: center;
    margin-top: 50px;
  }

  .bg-white {
    background-color: $white;
  }
  
}
