.similar-tech-item-container-first-step {
  flex: 0 0 30%;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 44px;
  min-height: 169px;
  margin-bottom: 40px;
  padding: 24px;
  @media only screen and (max-width: 768px) {
    flex: 0 0 48%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  @media only screen and (max-width: 576px) {
    padding: 14px;
    flex: 0 0 48%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  border: solid 1px #eeeeee;
  &:first-child {
    margin-left: 0;
  }
  .item-detail-top {
    display: flex;
    align-items: center;
    .logo {
      img {
        @media only screen and (max-width: 576px) {
          width: 22px;
          height: 22px;
        }
        width: 48px;
        height: 48px;
        border-radius: 10px;
      }
    }

    .company-name {
      margin-left: 22px;
      @media only screen and (max-width: 576px) {
        font-size: 11px;
        margin-left: 10px;
      }
      color: #4a4a4a;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .description {
    @media only screen and (max-width: 576px) {
      font-size: 9px;
    }
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    color: #9b9b9b;
  }
}

.similar-tech-item-container-fourth-step {
  border-radius: 10px;
  height: 169px;
  padding: 24px;
  border: 1px solid #9b9b9b;
  margin-top: 16px;
  .item-detail-top {
    display: flex;
    align-items: center;
    .logo {
      img {
        @media only screen and (max-width: 576px) {
          width: 24px;
          height: 24px;
        }
        width: 48px;
        height: 48px;
      }
    }

    .company-name {
      margin-left: 22px;
      color: #4a4a4a;
      font-size: 24px;
      @media only screen and (max-width: 576px) {
        font-size: 11px;
        margin-left: 10px;
      }
      font-weight: bold;
    }
  }

  .description {
    width: 100%;
    margin-top: 10px;
    font-family: "Montserrat";
    @media only screen and (max-width: 576px) {
      font-size: 9px;
      line-height: 1.36;
    }
    font-size: 14px;
    line-height: 1.71;
    color: #9b9b9b;
  }
}

.active {
  border: solid 1px #448db9;
}
