.footer-features {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: none;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 2em;

  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 0;

    &.list-step {
      margin: auto;
      li {
        padding-top: 30px;
        line-height: 0;
      }
    }

    &.btn-next {
      right: 10%;
      position: absolute;
    }

    &.btn-back {
      left: 10%;
      position: absolute;
    }
  }

  .list-footer {
    display: flex;

    .input-range {
      width: 400px;
    }

    .input-range__slider {
      background: #448db9;
    }

    .input-range__track--active {
      background: #448db9;
    }
  }

  .step-item {
    margin-left: 40px;
    color: #9b9b9b;

    .circle {
      background-color: #9b9b9b;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  .active {
    color: #448db9;

    .circle {
      background-color: #448db9;
    }
  }

  .button {
    cursor: pointer;
    width: 127px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(255deg, #79c1dd, #448db9);
  }
}

.footer-features-mobile {
  height: 60px;
  padding: 10px 30px;
  font-size: 11px;
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

  .btn-next {
    width: 127px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(255deg, #79c1dd, #448db9);
  }

  .btn-back {
    color: #448db9;
  }
}
