
.custom-header {
  background: url("/home_background.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  height: fit-content;
  font-family: "$primary-font";
  padding: 40px 120px !important;
  width: 100%;
  @include mobile {
    padding: 12px 16px !important;
    height: 60px;
  }
  @include tablet {
    padding: 24px 120px !important;
    height: 130px;
  }
  .custom-header-navbar {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    p {
      margin: 0;
      margin-left: 12px;
      color: #fff;
      font-family: $primary-font;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
